snippet // "行内注释" b
/* ${0} */
endsnippet


snippet /// "多行注释" b
/*-------------------------------------------------
*  ${0}
*-------------------------------------------------*/
endsnippet


snippet re "require" b
const ${1:pack name} = require("$1")
endsnippet
