
snippet koar "koa-router" b
module.exports = aysnc (ctx,next)=>{
	${0}
	ctx.body = {}
}
endsnippet


snippet koar1 "koa-router" b
module.exports = aysnc function (ctx,next){
	${0}
	ctx.body = {}
}
endsnippet
