snippet xlx "向量星" b

int first[N];
int edge_cnt = 0;
struct _e{
    int u,v,w,next;
}e[N<<1];

void addEdge(int u,int v,int w){
    edge_cnt++;
    e[edge_cnt].u = u;
    e[edge_cnt].v= v;
    e[edge_cnt].w=w;
    e[edge_cnt].next = first[u];
    first[u] = edge_cnt;
}
${0}
endsnippet

