# init 初始化
snippet init "init初始化函数" b
void init(){
	${0}
}
endsnippet

# max函数
snippet rma "rmax 最大值函数" b
int rmax(int a,int b){
	if(a > b ) return a;
	return b;
}
endsnippet

# mix函数
snippet rmi "rmin 最小值函数" b
int rmin(int a,int b){
	if(a < b ) return a;
	return b;
}
endsnippet
